/* Ajustes texto general*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    
}
/* Ajustes fondo pagina general*/
body {    
    background-color: rgb(214, 210, 203);   
    padding: 20px;
}
/* Ajustes encabezado*/
header{
    background-color: rgb(27, 27, 27);
    color:rgb(216, 216, 216); 
    padding: 15px;
    text-align: center;
}
/* Ajustes nav*/
nav {
    background-color: rgb(116, 116, 116);
    text-align: center;
    padding: 10px;
}
/* Ajustes lista nav*/
nav ul li{
    color:rgb(201, 201, 201);
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
}
/* Ajustes titulos*/
h2 {
    color:rgb(26, 26, 26)
}
/*color textos descriptivos*/
.textodescriptivo {
    color:rgb(97, 97, 97)
}

a {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
h4{
    background-color: #333;
    padding: 10px 15px;

}
footer {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 10px;
    text-align: center;
}